.category {
  height: 200px;
  margin-top: 5rem;
}

.category__title {
  color: #e5e5e5e5;
  font-size: 18px;
  line-height: 17px;
  font-weight: 600;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 100%);
  overflow: hidden;
  scroll-behavior: smooth;
}

section {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, auto);
  margin: 20px 0;
}

.item {
  padding: 0 2px;
  transition: 250ms all;
  cursor: pointer;
}

.-animation:hover {
  margin: 0 40px;
  transform: scale(1.2);
}

.item img {
  max-width: 100%;
  padding-right: 5px;
}

.arrow__btn {
  position: absolute;
  color: #fff;
  text-decoration: none;
  font-size: 6em;
  background: rgb(0, 0, 0);
  width: 80px;
  padding: 20px;
  text-align: center;
  z-index: 1;
}

.arrow__btn i {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.637);
}

.arrow__btn i:hover {
  color: white;
  transform: scale(1.15);
}

.arrow__btn:nth-of-type(1) {
  top: -16px;
  bottom: -10px;
  left: 0;
  background: linear-gradient(
    -90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.arrow__btn:nth-of-type(2) {
  top: -16px;
  bottom: -10px;
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
