footer {
    margin-top: 22 px;
    padding-top: 4rem;
}

.site__social {
    height: 25px;
    width: 50%;
}

.site__social i {
    font-size: 22px;
    margin-right: 1.5rem;
    cursor: pointer;
    color: white;
}

.site__social i:hover {
    color: #bbb;
}

.link-content {
    margin: 20px auto;
    color: grey;
}

.link-content__info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5em;
}

.link-content__info ul {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    padding: initial;
}

.link-content__info ul li {
    list-style: none;
    margin-bottom: 16px;
    cursor: pointer;
}

.link-content__info ul li:hover {
    text-decoration: underline;
}

.link-content__service {
    margin-bottom: 20px;
    font-size: 13px;
    cursor: pointer;
}

.link__service-code {
    background: 0 0;
    color: grey;
    border: solid 1px grey;
    padding: 0.5rem;
}

.link__service-code:hover {
    color: white;
    border: solid 1px white;
}

.link-content__copyright {
    font-size: 11px;
    margin-bottom: 15px;
    padding: 1rem 4px;
}